# ğŸ“Œ TF-IDF (ë¹„ìŠ·í•œ ë§ˆì´ë£¸ ì¶”ì²œ)

## âœï¸ DB ì—°ê²°

In [99]:
import os
import pymysql
import pandas as pd
import re

from dotenv import load_dotenv, find_dotenv


# í™˜ê²½ë³€ìˆ˜ ë¶ˆëŸ¬ì˜¤ê¸°
load_dotenv(find_dotenv())
HOST = os.environ["MYSQL_HOST"] # MySQL host
DB = os.environ["MYSQL_NAME"]   # MySQL name
USER = os.environ["MYSQL_USER"] # MySQL user
PASSWORD = os.environ["MYSQL_PASS"] # MySQL password
PORT = int(os.environ["MYSQL_PORT"]) # MySQL port


# DB ì—°ê²°
db = pymysql.connect(host=HOST, port=PORT, user=USER, passwd=PASSWORD, db=DB, charset='utf8', autocommit=True, cursorclass=pymysql.cursors.DictCursor)
#  cursorìƒì„±
cursor = db.cursor()

In [100]:
# í•œê¸€, ìˆ«ì, ì˜ë¬¸ë§Œ ê°€ì ¸ì˜´
def sub_special(s):
    # html íƒœê·¸ ì œê±°
    tag_remover = re.compile('<.*?>')
    s = re.sub(tag_remover, '', s)
    return re.sub(r'[^ã„±-ã…ã…-ã…£ê°€-í£0-9a-zA-Z ]','',s)

# ë¦¬ìŠ¤íŠ¸ë¥¼ ë¬¸ìì—´ë¡œ
def list2str(list):
    return "".join(list)

### âœï¸ ë¡œê·¸ì¸ í•œ ìœ ì €ì˜ í¬íŠ¸í´ë¦¬ì˜¤ Summary ë° Tag ì¡°íšŒ

In [101]:
# ë¡œê·¸ì¸ í•œ ìœ ì €ì˜ ë²ˆí˜¸
user_seq = 40

# í¬íŠ¸í´ë¦¬ì˜¤ summary ì¡°íšŒ
port_sql = "SELECT GROUP_CONCAT(DISTINCT(`p`.`summary`) SEPARATOR '') AS `portfolios` \
    FROM `portfolio` AS `p` \
    INNER JOIN `arrange` AS `a` ON `p`.`port_seq` = `a`.`port_seq` \
    INNER JOIN `room` AS `r` ON `a`.`room_seq` = `r`.`room_seq` \
    INNER JOIN `user` AS `u` ON `r`.`user_seq` = `u`.`user_seq` \
    WHERE `u`.`user_seq` = " + str(user_seq) + " GROUP BY `u`.`user_seq`; "

cursor.execute(port_sql)
result = cursor.fetchall()

ports = result[0].get("portfolios")

# Tag ì¡°íšŒ
tag_sql = "SELECT GROUP_CONCAT(DISTINCT(`t`.`name`) SEPARATOR '') AS `tags` \
    FROM `tag` AS `t` \
    INNER JOIN `arrange` AS `a` ON `t`.`port_seq` = `a`.`port_seq` \
    INNER JOIN `room` AS `r` ON `a`.`room_seq` = `r`.`room_seq` \
    INNER JOIN `user` AS `u` ON `r`.`user_seq` = `u`.`user_seq` \
    WHERE `u`.`user_seq` = " + str(user_seq) + " GROUP BY `u`.`user_seq`; "

cursor.execute(tag_sql)
result = cursor.fetchall()
tags = result[0].get("tags")

user_feat = ports + tags
print(user_feat)
df = pd.DataFrame({"room_seq": [0], "feat": [user_feat]})
df

<h1>ì•„ì´ë§í¬</h1><p>ìŠ¤ìŠ¤ë¡œ ëª¨ë“  ê²ƒì„ í•˜ê³  ì‹¶ì–´í•˜ëŠ” ëª¨ë“  ì•„ì´ë¥¼ ìœ„í•´ ìš°ë¦¬ ì„œë¹„ìŠ¤ëŠ” ë§Œë“¤ì–´ì¡Œì–´ìš”.</p>
<p>ì•„ì´ í˜¼ìì„œ ìì‹ ì˜ í•˜ë£¨ë¥¼ ëŒì•„ë³´ê³  ê·¸ ë‚ ì˜ ê¸°ë¶„ì„ ê¸°ë¡í•´ë³´ì•„ìš”!</p>
<p>ë§¤ì¼ ê¸°ë¡í•œ ì¼ìƒì´ ì„ ìƒë‹˜ê³¼ ë¶€ëª¨ë‹˜ì—ê²Œ ì „ë‹¬ë˜ì–´ ëª¨ë‘ì˜ ê¸°ì–µì´ ë  ìˆ˜ ìˆê²Œ í•´ì¤„ê²Œìš”.</p>í¬íŠ¸í´ë¦¬ì˜¤ ë‚´ìš©dockerexpressnode.jsë°±ì—”ë“œì•„ì´ë§í¬íƒœê·¸1íƒœê·¸2

   room_seq                                               feat
0         0  <h1>ì•„ì´ë§í¬</h1><p>ìŠ¤ìŠ¤ë¡œ ëª¨ë“  ê²ƒì„ í•˜ê³  ì‹¶ì–´í•˜ëŠ” ëª¨ë“  ì•„ì´ë¥¼ ìœ„í•´ ìš°ë¦¬...

### í˜•íƒœì†Œ ë¶„ì„

In [102]:
from konlpy.tag import Okt
okt = Okt()

file_path = "./stop_words.txt"
with open(file_path, encoding="utf8") as f:
    lines = f.readlines()
stop_words = [line.rstrip("\n") for line in lines]

In [103]:
# í˜•íƒœì†Œ ë¶„ì„
def morph_and_stopword(text):
    text = sub_special(text)
    
    #í˜•íƒœì†Œ ë¶„ì„
    words = okt.morphs(text, stem=True)
    
    # í˜•íƒœì†Œ ë¶„ì„ ê²°ê³¼ ë‹´ì„ í…ìŠ¤íŠ¸
    feat_list = []
    
    #ë¶ˆìš©ì–´ ì²˜ë¦¬
    for word in words:
        if word not in stop_words and len(word) > 1:
            feat_list.append(word)
            
    return list2str(set(feat_list))

---

### ğŸ“Œ ëª¨ë“  ë°©ì˜ í¬íŠ¸í´ë¦¬ì˜¤ Summary, Tag

In [104]:
# í¬íŠ¸í´ë¦¬ì˜¤ summary ì¡°íšŒ
port_sql = "SELECT `r`.`room_seq`, GROUP_CONCAT(DISTINCT(`p`.`summary`) SEPARATOR '') AS `portfolios` \
    FROM `portfolio` AS `p` \
    INNER JOIN `arrange` AS `a` ON `p`.`port_seq` = `a`.`port_seq` \
    INNER JOIN `room` AS `r` ON `a`.`room_seq` = `r`.`room_seq` \
    INNER JOIN `user` AS `u` ON `r`.`user_seq` = `u`.`user_seq` \
    WHERE `r`.`user_seq` != " + str(user_seq) + " GROUP BY `r`.`room_seq` ;"

cursor.execute(port_sql)
result = cursor.fetchall()
df_ports = pd.DataFrame(result)

# Tag ì¡°íšŒ
tag_sql = "SELECT `r`.`room_seq`, GROUP_CONCAT(DISTINCT(`t`.`name`) SEPARATOR '') AS `tags` \
    FROM `tag` AS `t` \
    INNER JOIN `arrange` AS `a` ON `t`.`port_seq` = `a`.`port_seq` \
    INNER JOIN `room` AS `r` ON `a`.`room_seq` = `r`.`room_seq` \
    INNER JOIN `user` AS `u` ON `r`.`user_seq` = `u`.`user_seq` \
    WHERE `r`.`user_seq` != " + str(user_seq) + " GROUP BY `r`.`room_seq` ;"

cursor.execute(tag_sql)
result = cursor.fetchall()
df_tags = pd.DataFrame(result)

# íƒœê·¸ ì—†ì„ ì‹œ ë¹ˆ ë°ì´í„° í”„ë ˆì„ ìƒì„±
if df_tags.empty:
    df_tags = pd.DataFrame({"room_seq": [], "tags": []})
    
# portfolio, tag ë°ì´í„° í”„ë ˆì„ ë³‘í•©
df_rooms = pd.merge(df_ports, df_tags, how="outer")

# ê²°ì¸¡ê°’ ì œê±°
df_rooms["portfolios"] = df_rooms["portfolios"].fillna("")
df_rooms["tags"] = df_rooms["tags"].fillna("")

# ì—´ ë³‘í•©
df_rooms["feat"] = df_rooms["portfolios"] + df_rooms["tags"]
df_rooms.drop(["portfolios", "tags"], axis=1, inplace=True)

# ë¡œê·¸ì¸ ìœ ì € ë°ì´í„°ì™€ ê° ë°©ì˜ ë°ì´í„° í”„ë ˆì„ ë³‘í•©
df = pd.concat([df, df_rooms], ignore_index=True)
df.drop_duplicates(inplace=True, ignore_index=True)

df["feat"] = df["feat"].map(lambda x:morph_and_stopword(x))
df

   room_seq                                               feat
0         0  ì „ë‹¬ë‚´ìš©ëŒì•„ë³´ë‹¤ê¸°ë¶„í¬íŠ¸í´ë¦¬ì˜¤ê¸°ì–µë¶€ëª¨ë‹˜dockerexpressnodejsì„ ìƒë‹˜íƒœê·¸í•´ë³´...
1         6                                       zzzzzzzzzzzz
2        82                               fsdfdsfdsfsfSFAFSFSG
3        93                                       zzzzzzzzzzzz

### âœï¸ ë°© ë²ˆí˜¸:ì¸ë±ìŠ¤

In [105]:
id_2_idx = dict(zip(df["room_seq"], df.index))

In [106]:
df

   room_seq                                               feat
0         0  ì „ë‹¬ë‚´ìš©ëŒì•„ë³´ë‹¤ê¸°ë¶„í¬íŠ¸í´ë¦¬ì˜¤ê¸°ì–µë¶€ëª¨ë‹˜dockerexpressnodejsì„ ìƒë‹˜íƒœê·¸í•´ë³´...
1         6                                       zzzzzzzzzzzz
2        82                               fsdfdsfdsfsfSFAFSFSG
3        93                                       zzzzzzzzzzzz

### TEST TF-IDF

In [108]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import numpy as np

In [110]:
tf_idf = TfidfVectorizer()
feat_list = list(df["feat"])
tf_idf_matrix = tf_idf.fit_transform(feat_list)
print("TF-IDF í–‰ë ¬ì˜ í¬ê¸°(shape): ", tf_idf_matrix.shape)
print(tf_idf_matrix)

cosine_sim = cosine_similarity(tf_idf_matrix, tf_idf_matrix)
print("ì½”ì‚¬ì¸ ìœ ì‚¬ë„ ì—°ì‚° ê²°ê³¼: ",cosine_sim.shape)
print(cosine_sim)

TF-IDF í–‰ë ¬ì˜ í¬ê¸°(shape):  (4, 3)
  (0, 2)	1.0
  (1, 1)	1.0
  (2, 0)	1.0
  (3, 1)	1.0
ì½”ì‚¬ì¸ ìœ ì‚¬ë„ ì—°ì‚° ê²°ê³¼:  (4, 4)
[[1. 0. 0. 0.]
 [0. 1. 0. 1.]
 [0. 0. 1. 0.]
 [0. 1. 0. 1.]]

In [114]:
# dictì˜ valueë¡œ key ì°¾ê¸°
def get_key(val, dict):
    for key, value in dict.items():
        if val == value:
                return key

In [119]:
def get_recommendations(data, cosine_sim=cosine_sim):
    room_seq = data["room_seq"]
    idx = id_2_idx[0]
    
    # í•´ë‹¹ ë°ì´í„°ì™€ì˜ ìœ ì‚¬ë„ë¥¼ ê°€ì ¸ì˜¨ë‹¤.
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # ìœ ì‚¬ë„ì— ë”°ë¼ ì •ë ¬
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # ì¶”ì²œ ë°© ì €ì¥ ë¦¬ìŠ¤íŠ¸
    room_list = []
        
    for index, value in enumerate(sim_scores):
        
        # í•´ë‹¹ ë°ì´í„°ì˜ index
        room_idx =  get_key(value[0], id_2_idx)
        
        # ìœ ì‚¬ë„ê°€ 0.95ë¥¼ ë„˜ì§€ ì•Šë‹¤ë©´ ì¶”ê°€
        if value[1] < 0.95:
            room_list.append(get_key(value[0], id_2_idx))
                            
        # 8ê°œê°€ ì±„ì›Œì§€ë©´ stop
        if len(room_list) == 8:
            break
    print(room_list)
    return room_list

In [121]:
df.apply(get_recommendations, axis=1)

[6, 82, 93]
[6, 82, 93]
[6, 82, 93]
[6, 82, 93]

0    [6, 82, 93]
1    [6, 82, 93]
2    [6, 82, 93]
3    [6, 82, 93]
dtype: object

[ë¡œê·¸ì¸ í•œ ë†ˆ]  
- ëª¨ë“  í¬íŠ¸í´ë¦¬ì˜¤ ëª©ë¡ summary
- ëª¨ë“  íƒœê·¸

[ë‹¤ë¥¸ ì‚¬ìš©ì]  
- ë°©ì— ë°°ì¹˜ëœ í¬íŠ¸í´ë¦¬ì˜¤ì˜ summary
- í•´ë‹¹ í¬íŠ¸í´ë¦¬ì˜¤ë“¤ì˜ íƒœê·¸  

ìœ ì €-ìœ ì €ê°€ ì•„ë‹Œ ë°©-ë¡œê·¸ì¸ í•œ ìœ ì €  

DataFrame  
[ë°© ë²ˆí˜¸][í¬íŠ¸í´ë¦¬ì˜¤ë‚´ìš©][íƒœê·¸ëª©ë¡] ì„
[ë°© ë²ˆí˜¸][í˜•íƒœì†Œë¶„ì„ í›„ì˜ feat str]ë¡œ ë§Œë“¤ì–´  
pickleë¡œ ì €ì¥ -> ë°ì´í„° ë¡œë”© ì‹œê°„ ê°ì†Œ  



ì¸ë±ìŠ¤ë¥¼ ë°© ë²ˆí˜¸ë¡œ ì§€ì •í•˜ê³   
ë¡œê·¸ì¸í•œ ìœ ì €ì˜ í…ìŠ¤íŠ¸ë‘  
ë°©ì˜ feat strì˜ ìœ ì‚¬ë„ ê³„ì‚°  
ìœ ì‚¬ë„ ìˆœ ì •ë ¬í•œ ë’¤ 8ê°œ?